__pycache__
/demod/ask.py
/demod/fsk.py
/demod/psk.py
/demod/impair.py
/demod/demod.c32
/demod/demod.sigmf-data
/demod/solution*.py
/qam/qam_symbols.dat
/qam/qam.sigmf-data
/qam/qam64.py
/qpsk/broken2.sigmf-data
/qpsk/interpolated.c32
/qpsk/shape.py
/sigid/freedv_paint_flag.raw
/sigid/part4-flag2.raw
/sigid/freedv.s16
/sigid/freedv_padded.s16
/sigid/freedv.py
/sigid/sigid4.sigmf-data
/stars/interpolated.c32
/stars/shape.py
/stars/stars.sigmf-data
