__pycache__
/cdma/*_epy_block*.py
/cdma/bits*.dat
/cdma/gold1.sigmf-data
/cdma/gold2.sigmf-data
/cdma/part1.py
/cdma/part2.py
/cdma/solution1.py
/cdma/solution2.py
/demod/ask.py
/demod/fsk.py
/demod/psk.py
/demod/impair.py
/demod/demod.c32
/demod/demod.sigmf-data
/demod/solution*.py
/qam/qam_symbols.dat
/qam/qam.sigmf-data
/qam/qam64.py
/qpsk/broken2.sigmf-data
/qpsk/interpolated.c32
/qpsk/shape.py
/sigid/freedv_paint_flag.raw
/sigid/part4-flag2.raw
/sigid/freedv.s16
/sigid/freedv_padded.s16
/sigid/freedv.py
/sigid/sigid4.sigmf-data
/sigid/m17.bin
/sigid/m17.py
/sigid/sigid5.sigmf-data
/stars/interpolated.c32
/stars/shape.py
/stars/stars.sigmf-data
